.container_score {
  display: flex;
  justify-content: space-between;
}
.container_playerinfo{
}

////player1

.player1_score {
  font-size: 120px;
}

.player1_name {
  display: flex;
  align-items: center;
}

//player2
.player2_score {
  font-size: 120px;
}

.player2_name {
  display: flex;
  align-items: center;
}
