.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  margin: 10px 10px 10px 10px ;
  /* 추가적인 스타일을 적용할 수 있습니다. */
  .login-form {
    display: flex;
    flex-direction: column;
    //margin-top: 20px;
    border-radius: 15px;

    input {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: black;
    }

    button {
      padding: 10px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 0px;
      cursor: pointer;
    }
    button:hover {
      background-color: #3e8b47;
      color: white;
      transition: all 0.5s;
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 100%;
  /* 추가적인 스타일을 적용할 수 있습니다. */
}